.title {
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.description {
    width: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.container {
    text-align: center;
    margin: 10px;
}

.image-box {
    display: inline-block;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(207, 0, 0);
    border: 10px solid rgb(0, 177, 0);
}

.image-box img {
    width: 100%;
    height: auto;
}

.recipe.image-box {
    background-color: black;
    border: 0;
    padding: 10px;
}

.box-heading {
    display: inline-block;
}

.box-heading h2 {
    text-align: center;
}

.recipe-content {
    display: block;
    width: 600px;
    margin: 50px auto;
    background-color: black;
    padding: 20px;
}

.text-box {
    background-color: green;
    padding: 10px;
    margin: 10px;
    text-align: left;
}